<div class="uppercase text-7xl pl-12" style="padding-top: 4%; padding-bottom: 6%; font-weight: 100;"><%= @artist.name %></div>


<!-- swiper gem -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <%@artist.photos.each  do |photo|  %>
    <div class="swiper-slide">
      <%= image_tag 'photo' %>
    </div>
    <% end %>
  </div>

  <!-- If we need pagination -->
  <!-- div class="swiper-pagination"></!-->

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<!-- placeholder de carrousel de fotos -->
<!-- averiguar como hacer para que esta seccion (el carrousel) no herede los margenes, como hacer para que quede fuera de la regla de margenes de todo el resto -->



<div style="padding-left: 17%;">

  <div style="padding-bottom: 6%;">
    <div class="py-4">
      <%= image_tag asset_path('yellowLine.png')%>
    </div>
    <h2 class="xlarge-thick mt-3 text-semibold uppercase">BIO</h2>
    <div class="flex">
      <div class="w-1/4"><%= image_tag "#{@artist.photo}" %></div>
      <div class="w-3/4 middle ml-12" style="padding-right: 12%;"><%= @artist.description %></div>
    </div>
  </div>

  <div style="padding-bottom: 6%;">
    <div class="py-4">
      <%= image_tag asset_path('yellowLine.png')%>
    </div>
    <h2 class="xlarge-thick mt-3 text-semibold">MUESTRAS</h2>
  </div>

  <div style="padding-bottom: 6%;">
    <div class="pt-4 pb-5">
      <%= image_tag asset_path('yellowLine.png')%>
    </div>
    <div class="flex items-center pt-2">
      <div class="pr-3">
        <h3 class="text-lg font-extralight font-thin text-sm px-3 py-1 btn flex flex-row-reverse hover:bg-yellow-300">OBRAS DISPONIBLES ↓</h3>
      </div>
      <div class="pr-3">
        <h3 class="text-lg font-extralight font-thin text-sm px-3 py-1 btn flex flex-row-reverse hover:bg-yellow-300">CURRICULUM ↓</h3>
      </div>
      <div class="px-2 py-2 btn-round mr-2"><%= image_tag asset_path('instaArtista.png')%></div>
      <div class="px-2 py-2 btn-round mr-2"><%= image_tag asset_path('pagArtista.png')%></div>
      <div class="px-2 py-2 btn-round mr-2"><%= image_tag asset_path('fbArtista.png')%></div>
    </div>
  </div>

</div>


