<div class="navbar pt-3">
  <div class="navbar-flex">
    <h1 class="navbar-link"><%= link_to "artistas", artists_path %></h1>
    <h1 class="navbar-link"><%= link_to "nosotros", press_path %></h1>
    <h1 class="navbar-link"><%= link_to "artworks", artworks_path %></h1>
    <h1 class="navbar-link"><%= link_to "muestras", shows_path %></h1>
    <h1 class="navbar-link"><%= link_to "ferias", root_path %></h1>
    <h1 class="navbar-link"><%= link_to "random", press_path %></h1>
    <h1 class="navbar-link"><%= link_to "playlist", press_path %></h1>
    <h1 class="navbar-link"><%= link_to "contacto", press_path %></h1>
  </div>
  <div class="logo-navbar pt-1 pb-10">
    <%= image_tag asset_path('logo.png')%>
  </div>
</div>

      <!--button class="navbar-toggler btn-menu" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </!--button-->
