
  <div class="navbar navbar navbar-expand-sm navbar-light navbar-lewagon">
    <div class=>
      <h1 class="navbar-link"><%= link_to "artistas", artists_path %></h1>
      <h1 class="navbar-link"><%= link_to "nosotros", press_path %></h1>
      <h1 class="navbar-link"><%= link_to "artworks", artworks_path %></h1>
      <h1 class="navbar-link"><%= link_to "muestras", shows_path %></h1>
      <h1 class="navbar-link"><%= link_to "ferias", root_path %></h1>
      <h1 class="navbar-link"><%= link_to "random", press_path %></h1>
      <h1 class="navbar-link"><%= link_to "playlist", press_path %></h1>
      <h1 class="navbar-link"><%= link_to "contacto", press_path %></h1>
    </div>
    <div class="logo-navbar">
      <%= image_tag asset_path('logo.png')%>
      <div>lista</div>
    </div>
  </div>
