<%= content_for :menu do %>
""
<% end %>

<div class="general-indentation">
  <div class="navbar pt-3">
    <div class="navbar-flex">
      <h1 class="navbar-link font-extralight"><%= link_to "artistas", artists_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "nosotros", staffs_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "muestras", shows_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "ferias", carnivals_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "random", press_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "playlist", playlist_path %></h1>
      <h1 class="navbar-link font-extralight"><%= link_to "contacto", contacto_path %></h1>
    </div>
  </div>

  <div  style=" min-height: 65vh; display: flex; flex-direction: column;">

    <div class="flex justify-center items-center my-auto">
      <div class="py-12 mt-12 w-1/3">
        <%= image_tag asset_path('logoSeparado.png')%>
      </div>
      <div class="pl-12 text-2xl pt-12">
        <h3 class="font-thin">VISITAS CON LLAMADA PREVIA</h3>
        <h3 class="text-semibold">INFO@MARIACASADO.COM.AR </h3>
        <h3 class="text-semibold">GONZALO@MARIACASADO.COM.AR</h3>
        <h3 class="font-thin pt-2">+54 9 11 5451 6796</h3>
        <div class="flex pt-2">
          <div class="pr-2"><%= image_tag asset_path('insta.png')%></div>
          <div class="pr-2"><%= image_tag asset_path('fb.png')%></div>
          <h3 class="font-thin text-sm px-3 py-1 mx-2 btn pr-6">inscribite para recibir nuestras novedades</h3>
        </div>
      </div>
    </div>
  </div>

</div>

<div>
<%= render 'shared/footer' %>
</div>
