<%= content_for :menu do %>
""
<% end %>

<div class="h-screen gris-fondo text-white">


  <a>
    <div class="flex items-stetch">
      <div onMouseOut="hide('a')" onMouseOver="show('a')" style="padding-left: 23%; padding-top: 5%">
        <%= link_to(image_tag("a.png"), artists_path) %>
      </div>
      <div class="self-end">
        <div class="large" id="a"><%= link_to "rtistas", artists_path %></div>
      </div>
    </div>
  </a>

  <div class="flex flex-wrap space-between" style="padding-top: 2%">

    <a class="flex items-stetch">
      <div onMouseOut="hide('p')" onMouseOver="show('p')" style="padding-left: 10%; padding-top: 5%;">
        <%= link_to(image_tag("p.png"), playlist_path) %>
      </div>
      <div class="self-end">
        <div class="large" id="p"><%= link_to "laylist", playlist_path %></div>
      </div>
    </a>

    <a class="flex items-stetch">
      <div onMouseOut="hide('f')" onMouseOver="show('f')" style="padding-left: 21%; padding-top: 5%">
        <%= link_to(image_tag("f.png"), carnivals_path) %>
      </div>

      <div class="self-end">
        <div class="large" id="f"> <%= link_to "erias", carnivals_path %> </div>
      </div>
    </a>

    <a class="flex items-stetch">
      <div onMouseOut="hide('s')" onMouseOver="show('s')" style="padding-left: 18%;">
        <%= link_to(image_tag("n.png"), staffs_path) %>
      </div>

      <div class="self-center">
        <div class="large" id="s"> <%= link_to "osotros", staffs_path %> </div>
      </div>
    </a>

  </div>

  <div class="flex flex-wrap flex-grow"  style="padding-top: 2%">

    <a class="flex items-stetch">
      <div onMouseOut="hide('c')" onMouseOver="show('c')" style="padding-left: 21%; padding-top:4%;">
        <%= link_to(image_tag("c.png"), contacto_path) %>
      </div>

      <div class="self-end">
        <div class="large" id="c"> <%= link_to "conacto", contacto_path %> </div>
      </div>

    </a>

    <a class="flex items-stetch">
      <div onMouseOut="hide('r')" onMouseOver="show('r')" style="padding-left: 21%; padding-top:4%;">
        <%= link_to(image_tag("r.png"), artists_path) %>
      </div>

      <div class="self-end">
        <div class="large" id="r"> <%= link_to "andom", artists_path %> </div>
      </div>

    </a>

    <a class="flex items-stetch">
      <div onMouseOut="hide('m')" onMouseOver="show('m')" style="padding-left: 15%; ">
        <%= link_to(image_tag("m.png"), shows_path) %>
      </div>

      <div class="self-center">
        <div class="large" id="m"> <%= link_to "uestras", shows_path %> </div>
      </div>

    </a>

  </div>

</div>
