<%= content_for :menu do %>
""
<% end %>

<div class="h-screen gris-fondo">
  <div class="flex-grow"><%= link_to(image_tag("a.png"), artists_path) %></div>
  <div class="flex flex-wrap space-between">
    <div class="" style="height: 100px;"><%= link_to(image_tag("p.png"), artists_path) %></div>
    <div class=""  style="size: 300px;"><%= link_to(image_tag("f.png"), carnivals_path) %></div>
    <div class=""  style="size: 300px;"><%= link_to(image_tag("n.png"), staffs_path) %></div>
  </div>
  <div class="flex flex-wrap">
    <div class=""  style="size: 300px;"><%= link_to(image_tag("c.png"), contacto_path) %></div>
    <div class=""  style="size: 300px;"><%= link_to(image_tag("r.png"), artists_path) %></div>
    <div class=""  style="size: 300px;"><%= link_to(image_tag("m.png"), shows_path) %></div>
  </div>
</div>
