<%= content_for :menu do %>
""
<% end %>

<div class="h-screen gris-fondo">
  <div style="padding-left: 30%; padding-top: 5%"><%= link_to(image_tag("a.png"), artists_path) %></div>
  <div class="flex flex-wrap space-between" style="padding-top: 2%">
    <div style="padding-left: 12%; padding-top: 5%;"><%= link_to(image_tag("p.png"), artists_path) %></div>
    <div style="padding-left: 25%; padding-top: 5%"><%= link_to(image_tag("f.png"), carnivals_path) %></div>
    <div style="padding-left: 18%;"><%= link_to(image_tag("n.png"), staffs_path) %></div>
  </div>
  <div class="flex flex-wrap flex-grow"  style="padding-top: 2%">
    <div style="padding-left: 25%; padding-top:4%;"><%= link_to(image_tag("c.png"), contacto_path) %></div>
    <div style="padding-left: 24%; padding-top:4%;"><%= link_to(image_tag("r.png"), artists_path) %></div>
    <div style="padding-left: 20%; "><%= link_to(image_tag("m.png"), shows_path) %></div>
  </div>
</div>
