<%= content_for :menu do %>
""
<% end %>

<div class="flex-grow-1" style=" min-height: 100vh; display: flex; flex-direction: column;">

  <div class="general-indentation">

    <div class="navbar pt-3">
      <div class="navbar-flex">
        <h1 class="navbar-link"><%= link_to "artistas", artists_path %></h1>
        <h1 class="navbar-link"><%= link_to "nosotros", press_path %></h1>
        <!-- <h1 class="navbar-link"><%= link_to "artworks", artworks_path %></h1> -->
        <h1 class="navbar-link"><%= link_to "muestras", shows_path %></h1>
        <h1 class="navbar-link"><%= link_to "ferias", press_path %></h1>
        <h1 class="navbar-link"><%= link_to "random", press_path %></h1>
        <h1 class="navbar-link"><%= link_to "playlist", press_path %></h1>
        <h1 class="navbar-link"><%= link_to "contacto", press_path %></h1>
      </div>
    </div>

    <div class="logo-navbar pt-1 pb-10">
      <%= image_tag asset_path('nosotros.png')%>
    </div>

  </div>
</div>
