<div style="padding-top: 12%;">


  <% @carnivals.each do |carnival|  %>

  <div class="flex flex-wrap" style="padding-bottom: 12%;">

    <div class="w-1/2">
      <div class="pb-12"><%= image_tag asset_path('yellowLine.png')%></div>
      <h2 class="pb-8 text-5xl mt-3 font-medium uppercase">2019</h2>

      <% if carnival.year? :2019 %>
        <div class="pt-8" style="padding-right: 35%;">
          <h2 class="text-3xl mt-1 font-light uppercase"><%= link_to "#{carnival.title}", carnival_path(carnival)%></h2>
          <h2 class="text-base mt-3 font-thin"><%= carnival.catalogue %></h2>
        </div>
      <% end %>

    </div>

    <div class="w-1/2">
      <div class="pb-12"><%= image_tag asset_path('yellowLine.png')%></div>
      <h2 class="pb-8 text-5xl mt-3 font-medium uppercase">2018</h2>

      <% if carnival.year? :2018 %>
      <div class="pt-8" style="padding-right: 35%;">
        <h2 class="text-3xl mt-1 font-light uppercase"><%= link_to "#{carnival.title}", carnival_path(carnival)%></h2>
        <h2 class="text-base mt-3 font-thin"><%= carnival.catalogue %></h2>
      </div>
      <% end %>
    </div>

  </div>

  <% end %>

</div>

