<div style="padding-top: 8%;">
  <div style="padding-left: 10%;">
    <div class ="flex mt-3" style="padding-bottom: 10%;">
      <h2 class="xxlarge-thick uppercase"><%= @carnival.title %></h2>
      <h2 class="xlarge font-extralight uppercase pl-4"><%= @carnival.year %></h2>
    </div>
  </div>

    <div style="padding-bottom: 6%;">
        <%= image_tag asset_path('antich1.jpg'), :style => "height :600px; padding-left: 80px;" %>
  </div>



  <div style="padding-left: 17%;">
    <div class="div" style="padding-bottom: 6%;">
      <div class="py-4">
        <%= image_tag asset_path('yellowLine.png')%>
      </div>

      <h2 class="xlarge-thick mt-3 uppercase">INFO</h2>
      <h2 class="large mt-3 font-extralight pt-4"><%= @carnival.title %></h2>
      <h2 class="large font-extralight"><%= @carnival.year %></h2>
      <h2 class="large font-extralight"><%= @carnival.location %></h2>

      <!-- <h2 class="large font-extralight"><%= @carnival.mmonth %></h2> -->
      <!-- <h2 class="large font-extralight"><%= @carnival.location %></h2> -->

    </div>
    <div style="padding-bottom: 6%; padding-right: 12%;">
      <div class="py-4 pb-5">
        <%= image_tag asset_path('yellowLine.png')%>
      </div>
      <h2 class="xlarge-thick mt-3 uppercase">Artistas</h2>
      <h2 class="large mt-5 font-extralight"><%= @carnival.catalogue %></h2>
    </div>

    <div style="padding-bottom: 6%;">
      <div class="pt-4 pb-5">
        <%= image_tag asset_path('yellowLine.png')%>
      </div>
      <div class="flex items-center pt-2">
        <div class="pr-3">
          <h3 class="text-lg font-extralight font-thin text-sm px-3 py-1 btn flex flex-row-reverse hover:bg-yellow-300">CATÁLOGO ↓</h3>
        </div>
        <div class="pr-3">
          <h3 class="text-lg font-extralight font-thin text-sm px-3 py-1 btn flex flex-row-reverse hover:bg-yellow-300">GACETILLA ↓</h3>
        </div>
      </div>
    </div>
  </div>

</div>

