<!DOCTYPE html>
<html>
  <head>
    <title>Mariacasado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
  <div class="w-full h-screen px-4" style="font-family: menlo;">


    <div class="flex py-4 justify-center">
      <h1 class="px-16"><%= link_to "artistas", artists_path %></h1>
      <h1 class="px-16"><%= link_to "nosotros", press_path %></h1>
      <h1 class="px-16"><%= link_to "muestras", shows_path %></h1>
      <h1 class="px-16"><%= link_to "ferias", root_path %></h1>
      <h1 class="px-16"><%= link_to "random", press_path %></h1>
      <h1 class="px-16"><%= link_to "playlist", press_path %></h1>
      <h1 class="px-16"><%= link_to "contacto", press_path %></h1>
    </div>

    <h1 class="pb-16"></h1>

    <%= yield %>

  </div>




  </body>
</html>
