<!DOCTYPE html>
<html>
  <head>
    <title>Mariacasado</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <div class="flex-grow-1" style=" min-height: 100vh; display: flex; flex-direction: column;">

      <div class="mx-12">
        <%= render 'shared/navbar' %>
      </div>

      <%= yield %>

      <div style="margin-top: auto;">
        <div class="bg-gray-100 flex justify-center items-center px-10 py-8">

          <div class="flex-1">
            <h1>INFO@MARIACASADO.COM.AR </h1>
            <h1>+5491154516796</h1>
          </div>

          <div class="flex-shrink-0">
            <h1>inscribite para recibir nuestras novedades</h1>
          </div>

          <div class="flex-1">
            <div class="flex flex-row-reverse">
              <h1 class="mx-4">insta</h1>
              <h1 class="mx-4">fb</h1>
            </div>
          </div>

        </div>
      </div>

    </div>


  </body>
</html>


<!-- w-full h-screen  -->
